.root {
    color: orange;
}

.root:hover {
    color: burlywood;
}

.root {
    color: blue;
}

.root:hover {
    color: yellow;
}

.root[disabled] {
    color: aliceblue;
}

.other {
    background: blue;
}

.root[color="primary"] {
    color: green;
}

.root[color="primary"]:hover {
    color: red;
}

.root[disabled] {
    color: lightgreen;
}

.other {
    background: green;
}
