.root {
    color: orange;
}

.root:hover {
    color: burlywood;
}

@import './base-simple.css';

.root:hover {
    color: yellow;
}

@import './base-simple2.css';

.root[color="primary"]:hover {
    color: red;
}
